<!DOCTYPE html>
<html>

<head>
    <title>IklaninRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="dicoding:email" content="arif.ikhsanudin.id@gmail.com" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <ul class="hmenu">
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>
    </ul>
    <% if flash.alert %>
    <div id=”error_explanation”>
        <ul>
            <li><%= flash.alert %></li>
        </ul>
    </div>
    <% end %>
    <%= yield %>
</body>

</html>
